In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('../../data/extra/TWIST_sequences_niko_30000.csv', sep=",")
df

                                           name,sequence
0      acrA_0,CCATTGATAGATTCGCTCGCTCGAGGATGTGTTGGCGCG...
1      acrA_1,CCATTGATAGATTCGCTCGCTCGAGGATGTAATTGCTCG...
2      acrA_2,CCATTGATAGATTCGCTCGCTCGAGGATGTAGAGGCGCG...
3      acrA_3,CCATTGATAGATTCGCTCGCTCGAGGATGTAGAGGCGTG...
4      acrA_4,CCATTGATAGATTCGCTCGCTCGAGGATGTAGTAGCGCG...
...                                                  ...
29982  neg_variant_29982,GCTTATTCGTGCCGTGTTATCTTTTCAT...
29983  neg_variant_29983,GCTTATTCGTGCCGTGTTATCCGACTGG...
29984  neg_variant_29984,GCTTATTCGTGCCGTGTTATTCAACTTG...
29985  neg_variant_29985,GCTTATTCGTGCCGTGTTATAACAGTTC...
29986  neg_variant_29986,GCTTATTCGTGCCGTGTTATGGATATTG...

[29987 rows x 1 columns]

In [9]:
site = "GTCGAC"

np.sum([site in x.split(",")[1] for x in df['name,sequence']])

206